body {
  margin: 0px;
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
  z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
  width: 47px;
  height: 47px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slides-navigation a.prev {
  left: 20px;
  background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
  right: 20px;
  background-image: url(../img/icons/next.png);
}

.titleMessage {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}
.titleMessage .heading p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
}
.titleMessage .heading .main {
  font-size: 50px;
}
.titleMessage .heading .sub {
  font-size: 23px;
}

.section {
  padding: 100px 0;
}

.aboutImage {
  max-width: 100%;
}

.skillsSection {
  background-color: #63cdda;
  color: #fff;
}

.contactSection {
  background-color: #fff;
  color: #63cdda;
}
.skill {
  text-align: center;
  margin-left: 10px;
}
.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;

  text-align: center;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .percent {
  color: #636e72;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}
.chart .percent:after {
  content: "%";
}
.squareItem {
  margin-top: 30px;
  position: relative;
}
.squareInnerContainer {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px sp#00cec9;
  border: 2px solid #81ecec;
  border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #81ecec;
}

.squareInnerContainer:before {
  right: 0px;
}
.squareInnerContainer:after {
  left: 0px;
}

.squareContent h2 {
  font-size: 40px;
  margin-bottom: 10px;
  color: #81ecec;
}

.squareContent h3 {
  font-size: 13px;
  font-weight: 680;
  margin: 0;
}

.squareIcon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
}
.contactButton {
  color: #444;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid#7ed6df;
  border-radius: 2px;
}

.contactButton:hover {
  text-decoration: none;
  color: #636e72;
  background-color: #c7ecee;
  border: 1px solid #fff;
}
.subHeading {
  font-size: 20px;
}
.filter a {
  color: #444;
  border: 1px solid#7ed6df;
  padding: 10px 18px;
  display: block;
}

.filter li {
  display: inline-block;
  padding: 5px;
}
.filter .current {
  background-color: #c7ecee;
  color: #444;
}
.filter {
  text-align: center;
  width: 100%;
}

.section .heading {
  text-align: center;
  padding-bottom: 40px;
  width: 100%;
}
.items li {
  display: inline-block;
  padding: 5px;
}

.itemsContainer {
  width: 100%;
}
.cropimg {
  width: 100%;
}

.items .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.items .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px auto 0 -47px;
  width: 90px;
  height: 40px;
  text-align: center;
  z-index: 3;
}

/* .items .icons .iconsearch,
.items .icons .iconlin {
  color: #fff;
} */

.items a {
  width: 28px;
  height: 26px;
  background-color: #c7ecee;
  position: relative;
  display: inline-block;
}

.items .imageOverlay {
  width: 100%;
  height: 100%;
  background-color: rgba;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;

  -webkit-transition: all 0.2s linear, 1s;
  -moz-transition: all 0.2s linear, 1s;
  -ms-transition: all 0.2s linear, 1s;
  transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
  opacity: 0.8;
}
